<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Dressformer Widget Testing Page">
    <meta name="keywords" content="[[*keywords]]"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dressformer webgl widget v<%= version %></title>

    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <link href='http://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css?v=<%= version %>"/>
    <link rel="stylesheet" id="css_theme" href="css/light.css?v=<%= version %>">

    <script>
        var Dressformer = {
            garment: {
                id: '<%=id%>'
            },
            dummy: <%-JSON.stringify(dummy)%>
        };
        console.log('Dressformer', Dressformer);
    </script>
</head>
<body>

<div class="wrapper-fullscreen">
    <div id="viewport" class="dfw_viewport"></div>
    <div class="dfwv_history">
        <div class="dfwv_history_back" title="Return to previous view">
            <span class="df_icon">&#xf053;</span></div>
        <div class="dfwv_history_forward" title="Go to next view"><span
                    class="df_icon">&#xf054;</span></div>
    </div>
    <div class="dfwv_control dfwvc_up"><span class="df_icon">&#xf106;</span></div>
    <div class="dfwv_control dfwvc_down"><span class="df_icon">&#xf107;</span></div>
    <div class="dfwv_control dfwvc_left"><span class="df_icon">&#xf104;</span></div>
    <div class="dfwv_control dfwvc_right"><span class="df_icon">&#xf105;</span></div>
    <div class="dfwv_control dfwvc_default"><span class="df_icon">&#xf1db;</span></div>

    <div class="dfwv_control dfwvc_zoom_in" title="Zoom in"><span class="df_icon">&#xf067;</span></div>
    <div class="dfwv_control dfwvc_zoom_out" title="Zoom out"><span class="df_icon">&#xf068;</span></div>

    <div class="dfwv_control dfwvc_d_silver">
        <div class="dfwvc_d_inner dfd_silver"></div>
    </div>
    <div class="dfwv_control dfwvc_d_gold">
        <div class="dfwvc_d_inner dfd_gold"></div>
    </div>
    <div class="dfwv_control dfwvc_d_carbon">
        <div class="dfwvc_d_inner dfd_carbon"></div>
    </div>
    <div class="dfwv_control dfwvc_d_plastic">
        <div class="dfwvc_d_inner dfd_plastic"></div>
    </div>

    <div class="df_preloader">
        <div class="dfp_dot" id="dfpd_left"></div>
        <div class="dfp_dot" id="dfpd_center"></div>
        <div class="dfp_dot" id="dfpd_right"></div>
    </div>
</div>

<script src="js/viewport-webgl.js?v=<%= version %>"></script>
</body>
</html>